services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper

  spark-master:
    image: bitnami/spark: 3.5
    container_name: spark-master
    prots:
    - "8080:8080"
    - "7077:7077"
    environment:
      - SPARK_MODE=master
    
    spark-worker:
      image: bitnami/spark:3.5
      container_name: spark-worker
      depends_on:
        - spark-master
      environment:
        - SPARK_MODE=worker
        - SPARK_MASTER_URL=spark://spark-master:7077


